body {
  background-color: transparent;
  display: block;
  max-width: 900;
  padding: 20px 150px;
  color: antiquewhite;
}
.heading {
  font-family: monospace;
  text-align: center;
  color: seagreen;
  padding-top: 20px;
}
h1.heading {
  color: white;
}
header {
  background-image: url("./images/giraffes_mkomazi.jpeg");
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  font-family: monospace;
  padding: 200px 0;
}

img {
  display: block;
  margin: auto;
  border-radius: 20px;
  height: auto;
}
.giraffes {
  border-style: ridge;
  border-width: 3px;
}

a {
  font-family: monospace;
  font-size: 14px;
  color: seagreen;
}
ul {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 228, 225, 0.6);
  color: orchid;
  line-height: 1.5;
}
ol {
  color: goldenrod;
  line-height: 1.5;
}
ol strong {
  color: orchid;
}
.history {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 228, 225, 0.6);
  color: orchid;
  margin-bottom: 40px;
}
#grid-image {
  max-width: 200px;
  max-height: 200px;
}
.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 2fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}
footer {
  font-family: monospace;
  padding: 20px;
  border-radius: 20px;
  background-color: mistyrose;
  color: seagreen;
  line-height: 1.5;
}
footer ul {
  padding: 0px 20px;
}
@media (max-width: 1100px) {
  #grid-image {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 1100px) {
  #grid-image {
    max-width: 100px;
    max-height: 100px;
  }
}

@media (max-width: 780px) {
  body {
    padding: 50px;
  }
  header {
    background-size: auto;
  }
}
@media (max-width: 547px) {
  body {
    padding: 30px;
  }

  header {
    background-position: 20% 40%;
    padding: 10px;
  }

  #grid-image {
    height: 80px;
    width: 80px;
  }
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 40px;
  }
}
